* {
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

body {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}

body.loaded {
  opacity: 1;
  transform: translateY(0);
}
/* Start state: halaman belum muncul */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

/* End state: halaman penuh muncul */
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Keluar: halaman turun dan fade out */
.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
