h1 {
  font-family: "Playfair Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

/* Page Transition Styles */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-transition {
  animation: fadeInUp 0.5s ease-in-out forwards;
  width: 100%;
}